
<container id="welcome">
<img src="/assets/img/hamburger.png" id="burger"><br>
<h1>Welcome to Heroku Burger Bar</h1><br>
</container>
<h2>Place Order Here</h2>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>
  <button type="submit">Add Cat</button>
</form>

<h1>Burgers!</h1>
<div class="container">
  <div class="row">
    <div class="col-md">
    <h3>Burgers Ordered!</h3>
    <ul>
      {{#each cats}}
        {{#unless sleepy}}
          {{> cats/cat-block sleep=true}}
        {{/unless}}
      {{/each}}
    </ul>
    </div><br>
    <div class="col-sm">
      
    </div><br>
    <div class="col-md">
    <h3>Burgers you ate!</h3>
    <ul>
      {{#each cats}}
        {{#if sleepy}}
          {{> cats/cat-block sleep=false}}
        {{/if}}
      {{/each}}
    </ul>
    </div>
  </div>
</div>

