
<container id="welcome">
<img src="/assets/img/hamburger.png" id="burger"><br>
<h1>Welcome to Heroku Burger Bar</h1><br>
</container>
<h2>Place Order Here</h2>

<form class="create-form" style="color: purple;">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    {{!-- <input type="radio" name="hungry" value="1" checked> hungry!<br>
    <input type="radio" name="hungry" value="0"> Awake --}}
  </div>
  <button type="submit">Order Burger</button>
</form>

<h1>Burgers!</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
    <h3>Burgers Ordered!</h3>
    <ul>
      {{#each burgers}}
        {{#unless hungry}}
          {{> burgers/burger-block eat=true}}
        {{/unless}}
      {{/each}}
    </ul>
    </div><br>
    <div class="col-sm-2">
      
    </div><br>
    <div class="col-sm-5">
    <h3>Burgers you ate!</h3>
    <ul>
      {{#each burgers}}
        {{#if hungry}}
          {{> burgers/burger-block eat=false}}
        {{/if}}
      {{/each}}
    </ul>
    </div>
  </div>
</div>

